.clientes-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.clientes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #885C83;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 10px 10px #293039;
}
.img-clientes, .img-clientesdois, .img-clientestres{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.img-clientes{
    background-image:url(img/eumemo.jpg);
}
.img-clientesdois{
    background-image:url(img/Viviane.jpg);
}
.img-clientestres{
    background-image:url(img/rubens.jpg);
}
.pix{
    background-image: url(img/logo-pix-icone-1024.png);
}
.segundopasso{
    background-image: url(img/whats.png);
}
.terceiropasso{
    background-image: url(img/felicidade.png);
}
.containertwo {
    position: relative;
    height: 250vh;
    overflow: hidden;
    background: url(img/bkgrond.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    font-family: 'Playfair Display', serif;
    font-size: 300%;
    text-shadow:1px 1px white;
    color: black;
    position: relative;
    text-align: center;
}
.pix, .segundopasso, .terceiropasso{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}