.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: black;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    box-shadow: 10px 10px #293039;
}
.pdescription{
    color: white;
}
.img-area,.img-areadois, .img-areatres{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.img-area{
    background-image:url(img/AIRFORCE1.jpg);
}
.img-areadois{
    background-image:url(img/AirJD1.jpg);
}
.img-areatres{
    background-image:url(img/AirJD2.jpg);
}.todosprodutos{
    background-color: black;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  