* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
        
}
.first{
    height: 400vh;
}
.container {
    position: relative;
    height: 750px;
    overflow: hidden;
    background: url(img/inicial.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 500%;
    color: black;
    position: relative;
    text-align: center;
}
.box {
    background-color: black;
    height: 70px;
    width: 300px;
    position: relative;
    top: 60%;
    left: 5%;
    border-radius: 30px;
}
.mostre {
    font-family: 'Playfair Display SC', serif;
    color: white;
    font-size: 150%;
    text-align: center;
    position: relative;
    top: 25%;
}