* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
        
}
.first{
    height: 400vh;
}
.container {
    position: relative;
    height: 750px;
    overflow: hidden;
    background: url(img/bkgrond.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 500%;
    color: black;
    position: relative;
    top: 20vh;
    text-align: center;
}
.logoone {
    color: white;
    font-family: sans-serif;
}