* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
        
}
.first{
    height: 400vh;
}
.container {
    position: relative;
    height: 750px;
    overflow: hidden;
    background: url(img/bkgrond.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 500%;
    color: black;
    position: relative;
    text-align: center;
}
.mostre {
    background-color: black;
    box-shadow: 10px 10px 10px black; 
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    top: 70%;
    left: 20px;
  }